__pycache__/
*.pyc
*.pyo
*.pyd
*.pkl
env/
venv/
ENV/
.venv/
.cache/
.mypy_cache/
.pytest_cache/
*$py.class
.idea/
.vscode/
*.sqlite3
alembic/__pycache__/
alembic/versions/__pycache__/
.env
*.log
logs/
dist/
build/
*.egg-info/
*.egg
.DS_Store
Thumbs.db
*.db
